#word{
  background:#dd5555;
  padding:20px 40px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:22px;
  color:#fff;
  margin-bottom:30px;
}
#container{
  display:flex;
  justify-content:center;
  align-items:center;
}
#btn{
  border:none;
 background:#dd2222;
  padding:20px 40px;
  border-radius:20px;
  cursor:pointer;
  color:#fff;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
   
